Kolom Acuan : 4 <br>
Row data yang digunakan : 0-100 <br>
Itemset : Eggs, Bagel, Pencil, Diapers <br>
Freq itemset : 0.2 <br>
Min Support : 0.1 <br>
Min Config  : 0.3 <br>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/My Drive/Kuliah/dataset/data_retail.csv")

In [ ]:
data

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

In [ ]:
#menampilkan data yang berbeda dalam kolom tertentu
items =(data['4'].unique())
items

array(['Cheese', 'Wine', nan, 'Milk', 'Diaper', 'Pencil', 'Meat', 'Bagel',
       'Bread', 'Eggs'], dtype=object)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# penggantian data
# melakukan encoding
itemset = set(items)
encoded_vals = []
for index, row in data.iterrows():
  rowset = set(row)
  labels = {}
  uncommons = list(itemset - rowset)
  commons = list(itemset.intersection(rowset))
  for uc in uncommons:
    labels[uc] = 0
  for com in commons:
    labels[com] = 1
  encoded_vals.append(labels)
encoded_vals[0]
ohe_data = pd.DataFrame(encoded_vals)

In [ ]:
ohe_data

     Bagel  NaN  Milk  Meat  Cheese  Pencil  Diaper  Bread  Eggs  Wine
0        0    0     0     1       1       1       1      1     1     1
1        0    0     1     1       1       1       1      1     0     1
2        0    1     1     1       1       0       0      0     1     1
3        0    1     1     1       1       0       0      0     1     1
4        0    1     0     1       0       1       0      0     0     1
..     ...  ...   ...   ...     ...     ...     ...    ...   ...   ...
310      0    1     0     0       1       0       0      1     1     0
311      0    1     1     1       0       1       0      0     0     0
312      0    0     0     1       1       1       1      1     1     1
313      0    1     0     1       1       0       0      0     0     0
314      1    1     0     1       0       0       0      1     1     1

[315 rows x 10 columns]

In [ ]:
data_retail = ohe_data.drop(columns=ohe_data.columns[1])
data_retail

     Bagel  Milk  Meat  Cheese  Pencil  Diaper  Bread  Eggs  Wine
0        0     0     1       1       1       1      1     1     1
1        0     1     1       1       1       1      1     0     1
2        0     1     1       1       0       0      0     1     1
3        0     1     1       1       0       0      0     1     1
4        0     0     1       0       1       0      0     0     1
..     ...   ...   ...     ...     ...     ...    ...   ...   ...
310      0     0     0       1       0       0      1     1     0
311      0     1     1       0       1       0      0     0     0
312      0     0     1       1       1       1      1     1     1
313      0     0     1       1       0       0      0     0     0
314      1     0     1       0       0       0      1     1     1

[315 rows x 9 columns]

In [ ]:
data_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Bagel   315 non-null    int64
 1   Milk    315 non-null    int64
 2   Meat    315 non-null    int64
 3   Cheese  315 non-null    int64
 4   Pencil  315 non-null    int64
 5   Diaper  315 non-null    int64
 6   Bread   315 non-null    int64
 7   Eggs    315 non-null    int64
 8   Wine    315 non-null    int64
dtypes: int64(9)
memory usage: 22.3 KB

In [ ]:
baris_data = data_retail.iloc[0:101, [7,0,4,5]]
baris_data

     Eggs  Bagel  Pencil  Diaper
0       1      0       1       1
1       0      0       1       1
2       1      0       0       0
3       1      0       0       0
4       0      0       1       0
..    ...    ...     ...     ...
96      0      1       0       0
97      0      0       1       0
98      0      0       0       1
99      0      1       1       0
100     0      0       0       0

[101 rows x 4 columns]

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
# baru kita membuat sesuai dengan apa yang ditentukan
# misal kita ingin minum support nya 0,2
freq_items = apriori(baris_data, min_support=0.2, use_colnames=True)
freq_items

    support         itemsets
0  0.415842           (Eggs)
1  0.425743          (Bagel)
2  0.346535         (Pencil)
3  0.435644         (Diaper)
4  0.207921  (Bagel, Diaper)

In [ ]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.3)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Diaper),0.425743,0.435644,0.207921,0.488372,1.121036,0.022449,1.103060
1,(Diaper),(Bagel),0.435644,0.425743,0.207921,0.477273,1.121036,0.022449,1.098579

In [ ]:
freq_items_2 = apriori(baris_data, min_support=0.1, use_colnames=True)
freq_items_2

    support          itemsets
0  0.415842            (Eggs)
1  0.425743           (Bagel)
2  0.346535          (Pencil)
3  0.435644          (Diaper)
4  0.128713     (Bagel, Eggs)
5  0.128713    (Pencil, Eggs)
6  0.188119    (Diaper, Eggs)
7  0.148515   (Bagel, Pencil)
8  0.207921   (Bagel, Diaper)
9  0.198020  (Diaper, Pencil)

In [ ]:
rules_2 = association_rules(freq_items_2, metric="confidence", min_threshold=0.3)
rules_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bagel),(Eggs),0.425743,0.415842,0.128713,0.302326,0.727021,-0.048329,0.837294
1,(Eggs),(Bagel),0.415842,0.425743,0.128713,0.309524,0.727021,-0.048329,0.831683
2,(Pencil),(Eggs),0.346535,0.415842,0.128713,0.371429,0.893197,-0.015391,0.929343
3,(Eggs),(Pencil),0.415842,0.346535,0.128713,0.309524,0.893197,-0.015391,0.946398
4,(Diaper),(Eggs),0.435644,0.415842,0.188119,0.431818,1.038420,0.006960,1.028119
5,(Eggs),(Diaper),0.415842,0.435644,0.188119,0.452381,1.038420,0.006960,1.030564
6,(Bagel),(Pencil),0.425743,0.346535,0.148515,0.348837,1.006645,0.000980,1.003536
7,(Pencil),(Bagel),0.346535,0.425743,0.148515,0.428571,1.006645,0.000980,1.004950
8,(Bagel),(Diaper),0.425743,0.435644,0.207921,0.488372,1.121036,0.022449,1.103060
9,(Diaper),(Bagel),0.435644,0.425743,0.207921,0.477273,1.121036,0.022449,1.098579
10,(Diaper),(Pencil),0.435644,0.346535,0.198020,0.454545,1.311688,0.047054,1.198020
11,(Pencil),(Diaper),0.346535,0.435644,0.198020,0.571429,1.311688,0.047054,1.316832