Pembahasan Hari ini :



1.   Data Cleansing
2.   Data Manipulation

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd

In [3]:
path = '/content/drive/My Drive/Kuliah/dataset'

In [4]:
df = pd.read_csv(os.path.join(path, "sales.csv"))

In [5]:
df.head(5)
#untuk mengetahui 5 data teratas

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2
0,0,10107,30.0,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NaN
1,1,10121,34.0,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,NaN
2,2,10134,41.0,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN
3,3,10145,45.0,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,NaN
4,4,10159,49.0,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,NaN

## Mising Value

In [6]:
df.info()
#untuk mengetahui info dari variabel df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2823 non-null   int64
 1   ORDERNUMBER      2823 non-null   int64
 2   QUANTITYORDERED  2821 non-null   float64
 3   PRICEEACH        2823 non-null   float64
 4   ORDERLINENUMBER  2823 non-null   int64
 5   SALES            2823 non-null   float64
 6   ORDERDATE        2823 non-null   object
 7   STATUS           2823 non-null   object
 8   QTR_ID           2823 non-null   int64
 9   MONTH_ID         2823 non-null   int64
 10  YEAR_ID          2823 non-null   int64
 11  PRODUCTLINE      2823 non-null   object
 12  MSRP             2823 non-null   int64
 13  PRODUCTCODE      2823 non-null   object
 14  CUSTOMERNAME     2823 non-null   object
 15  PHONE            2823 non-null   object
 16  ADDRESSLINE1     2823 non-null   object
 17  ADDRESSLINE2     302 non-null    object
dtypes: float64(3), int64(7), object(8)
memory usage: 397.1+ KB

In [7]:
jumlah_missing = pd.isnull(df).sum()
# untuk mengetahui data yang kosong ada berapa dan kemudian kita inisialisasikan ke variabel

In [8]:
rasio = jumlah_missing.div(len(df))
rasio
#untuk mengetahui berapa rasion dari data missing

Unnamed: 0         0.000000
ORDERNUMBER        0.000000
QUANTITYORDERED    0.000708
PRICEEACH          0.000000
ORDERLINENUMBER    0.000000
SALES              0.000000
ORDERDATE          0.000000
STATUS             0.000000
QTR_ID             0.000000
MONTH_ID           0.000000
YEAR_ID            0.000000
PRODUCTLINE        0.000000
MSRP               0.000000
PRODUCTCODE        0.000000
CUSTOMERNAME       0.000000
PHONE              0.000000
ADDRESSLINE1       0.000000
ADDRESSLINE2       0.893022
dtype: float64

In [9]:
df = df.drop(['ADDRESSLINE2'], axis=1)
# untuk mengahapus ADDRESSLINE2

In [10]:
#untuk mengecek variabel df
df.head()

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1
0,0,10107,30.0,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue
1,1,10121,34.0,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye
2,2,10134,41.0,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia
3,3,10145,45.0,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.
4,4,10159,49.0,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.

In [11]:
df['QUANTITYORDERED'].describe()
#untuk mencari penjelasan/ ringkasan dari QUANTITYORDERED

count    2821.000000
mean       35.107054
std         9.734993
min         6.000000
25%        27.000000
50%        35.000000
75%        43.000000
max        97.000000
Name: QUANTITYORDERED, dtype: float64

In [12]:
df['QUANTITYORDERED'].fillna(int(df['QUANTITYORDERED'].mean()), inplace=True)
#mengisi data yang kosog

In [13]:
#untuk mengecek kembali data yang kosong
pd.isnull(df).sum()

Unnamed: 0         0
ORDERNUMBER        0
QUANTITYORDERED    0
PRICEEACH          0
ORDERLINENUMBER    0
SALES              0
ORDERDATE          0
STATUS             0
QTR_ID             0
MONTH_ID           0
YEAR_ID            0
PRODUCTLINE        0
MSRP               0
PRODUCTCODE        0
CUSTOMERNAME       0
PHONE              0
ADDRESSLINE1       0
dtype: int64

In [14]:
df[df[['ORDERNUMBER', 'ORDERLINENUMBER']].duplicated(keep=False)].sort_values('ORDERNUMBER')
#Mencari data yang sama/ duplikat

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1
36,36,10215,35.0,100.0,3,6075.3,1/29/2004 0:00,Shipped,1,1,2004,Classic Cars,214,S10_1949,West Coast Collectables Co.,3105553722,3675 Furth Circle
370,370,10215,35.0,100.0,3,6075.3,1/29/2004 0:00,Shipped,1,1,2004,Classic Cars,214,S10_1949,West Coast Collectables Co.,3105553722,3675 Furth Circle

In [15]:
#kita update data df nya dan kita reset index nya karna ada data yang duplikat
df = df.drop_duplicates(subset=['ORDERNUMBER','ORDERLINENUMBER']).reset_index()

In [16]:
df[df[['ORDERNUMBER', 'ORDERLINENUMBER']].duplicated(keep=False)].sort_values('ORDERNUMBER')
#Mencari data yang sama/ duplikat lagi apakah data nya masih duplikat atau sudah di merge

Empty DataFrame
Columns: [index, Unnamed: 0, ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1]
Index: []

In [17]:
df['QUANTITYORDERED'].dtypes
#mencari tipe data dari variabel

dtype('float64')

In [18]:
#kita ubdah tipe data dari float ke int dan kita inisialisasikan ke variabel baru
df['QUANTITYORDERED_int'] = df['QUANTITYORDERED'].astype('Int64')

In [19]:
df.info()
#untuk mengetahui info dari variabel df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                2822 non-null   int64
 1   Unnamed: 0           2822 non-null   int64
 2   ORDERNUMBER          2822 non-null   int64
 3   QUANTITYORDERED      2822 non-null   float64
 4   PRICEEACH            2822 non-null   float64
 5   ORDERLINENUMBER      2822 non-null   int64
 6   SALES                2822 non-null   float64
 7   ORDERDATE            2822 non-null   object
 8   STATUS               2822 non-null   object
 9   QTR_ID               2822 non-null   int64
 10  MONTH_ID             2822 non-null   int64
 11  YEAR_ID              2822 non-null   int64
 12  PRODUCTLINE          2822 non-null   object
 13  MSRP                 2822 non-null   int64
 14  PRODUCTCODE          2822 non-null   object
 15  CUSTOMERNAME         2822 non-null   object
 16  PHONE                2822 non-null   object
 17  ADDRESSLINE1         2822 non-null   object
 18  QUANTITYORDERED_int  2822 non-null   Int64
dtypes: Int64(1), float64(3), int64(8), object(7)
memory usage: 421.8+ KB

In [20]:
#untuk mengubah nama variabel dalam dataset
df = df.rename(columns={'ORDERNUMBER' : 'Nomor_pesanan', 'PRICEEACH' : 'harga_satuan',
                         'QUANTITYORDERED_int' : 'Quantity'})

In [21]:
df.info()
#untuk mengetahui info dari variabel df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            2822 non-null   int64
 1   Unnamed: 0       2822 non-null   int64
 2   Nomor_pesanan    2822 non-null   int64
 3   QUANTITYORDERED  2822 non-null   float64
 4   harga_satuan     2822 non-null   float64
 5   ORDERLINENUMBER  2822 non-null   int64
 6   SALES            2822 non-null   float64
 7   ORDERDATE        2822 non-null   object
 8   STATUS           2822 non-null   object
 9   QTR_ID           2822 non-null   int64
 10  MONTH_ID         2822 non-null   int64
 11  YEAR_ID          2822 non-null   int64
 12  PRODUCTLINE      2822 non-null   object
 13  MSRP             2822 non-null   int64
 14  PRODUCTCODE      2822 non-null   object
 15  CUSTOMERNAME     2822 non-null   object
 16  PHONE            2822 non-null   object
 17  ADDRESSLINE1     2822 non-null   object
 18  Quantity         2822 non-null   Int64
dtypes: Int64(1), float64(3), int64(8), object(7)
memory usage: 421.8+ KB

2. Data Manipulation

*   Check and changing data type
*   Renaming
*   Removing
*   Filtering Datase

mengambil data data yang kita butuhkan saja

In [22]:
df_fil = df[['Nomor_pesanan','QUANTITYORDERED','harga_satuan','ORDERLINENUMBER','SALES','STATUS','CUSTOMERNAME']]
df_fil.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS,CUSTOMERNAME
0,10107,30.0,95.70,2,2871.00,Shipped,Land of Toys Inc.
1,10121,34.0,81.35,5,2765.90,Shipped,Reims Collectables
2,10134,41.0,94.74,2,3884.34,Shipped,Lyon Souveniers
3,10145,45.0,83.26,6,3746.70,Shipped,Toys4GrownUps.com
4,10159,49.0,100.00,14,5205.27,Shipped,Corporate Gift Ideas Co.

Untuk menggabung kolom CUSTOMERNAME

In [23]:
df_fil_clean = df_fil.drop(['CUSTOMERNAME'], axis=1)
df_fil_clean.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS
0,10107,30.0,95.70,2,2871.00,Shipped
1,10121,34.0,81.35,5,2765.90,Shipped
2,10134,41.0,94.74,2,3884.34,Shipped
3,10145,45.0,83.26,6,3746.70,Shipped
4,10159,49.0,100.00,14,5205.27,Shipped

Untuk membuat rata-rata harga

In [24]:
rata_harga = df_fil_clean['harga_satuan'].mean()
print(f'rata-rata harga satuan adalah {rata_harga} dollar')

rata-rata harga satuan adalah 83.65275336640681 dollar

In [25]:
df_fil_clean.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS
0,10107,30.0,95.70,2,2871.00,Shipped
1,10121,34.0,81.35,5,2765.90,Shipped
2,10134,41.0,94.74,2,3884.34,Shipped
3,10145,45.0,83.26,6,3746.70,Shipped
4,10159,49.0,100.00,14,5205.27,Shipped

Mengambil data no pesanan dan status dari index 0 sampai sebelum 2

In [26]:
df_fil_clean[['Nomor_pesanan','STATUS']].iloc[0:3]

   Nomor_pesanan   STATUS
0          10107  Shipped
1          10121  Shipped
2          10134  Shipped

Mencari data yang sama dengan shipped

In [27]:
shipped = df_fil_clean[df_fil_clean['STATUS']=='Shipped']
shipped.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS
0,10107,30.0,95.70,2,2871.00,Shipped
1,10121,34.0,81.35,5,2765.90,Shipped
2,10134,41.0,94.74,2,3884.34,Shipped
3,10145,45.0,83.26,6,3746.70,Shipped
4,10159,49.0,100.00,14,5205.27,Shipped

Mencari data quality yang kurang dari sama dengan 10

In [28]:
sedikit = df_fil_clean[df_fil_clean['QUANTITYORDERED']<= 10]
sedikit.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS
315,10419,10.0,100.00,11,1092.20,Shipped
750,10409,6.0,100.00,2,785.64,Shipped
906,10423,10.0,88.14,1,881.40,In Process
1286,10407,6.0,90.19,3,541.14,On Hold

Mencari data harga satuan yang kurang dari sama dengan 80

In [29]:
sedikit_harga = df_fil_clean[df_fil_clean['harga_satuan']<= 80]
sedikit_harga.head()

,Nomor_pesanan,QUANTITYORDERED,harga_satuan,ORDERLINENUMBER,SALES,STATUS
21,10361,20.0,72.55,13,1451.00,Shipped
22,10375,21.0,34.91,12,733.11,Shipped
23,10388,42.0,76.36,4,3207.12,Shipped
74,10339,40.0,68.92,4,2756.80,Shipped
75,10361,26.0,51.15,8,1329.90,Shipped

Data Wrangling


*   Merging
*   Grouping
*   Transformation

**Grouping**
Untuk meenggabungkan variabel yang sama yang ada di quality dan sales

In [30]:
quality = df_fil_clean[['Nomor_pesanan', 'QUANTITYORDERED']]
sales = df_fil_clean[['Nomor_pesanan', 'SALES']]

quality.head()

   Nomor_pesanan  QUANTITYORDERED
0          10107             30.0
1          10121             34.0
2          10134             41.0
3          10145             45.0
4          10159             49.0

In [31]:
df_new = quality.merge(sales, how='left', on='Nomor_pesanan')
df_new.head()

   Nomor_pesanan  QUANTITYORDERED    SALES
0          10107             30.0  2871.00
1          10107             30.0  3896.49
2          10107             30.0  6065.55
3          10107             30.0  3036.60
4          10107             30.0  2055.23

In [32]:
harga_satu = df_fil_clean[['Nomor_pesanan', 'harga_satuan']]
status = df_fil_clean[['Nomor_pesanan', 'STATUS']]

harga_satu.head()

   Nomor_pesanan  harga_satuan
0          10107         95.70
1          10121         81.35
2          10134         94.74
3          10145         83.26
4          10159        100.00

In [33]:
df_new2 = harga_satu.merge(status, how='left', on='Nomor_pesanan')
df_new2.head()

   Nomor_pesanan  harga_satuan   STATUS
0          10107          95.7  Shipped
1          10107          95.7  Shipped
2          10107          95.7  Shipped
3          10107          95.7  Shipped
4          10107          95.7  Shipped

**Group by**

Fungsi GroupBy() memungkinkan kita untuk mengelompokkan data dalam kumpulan item yang sama misalnya dalam status, no pesanan,dan kategori lainnya

In [34]:
df_fil_clean.groupby('STATUS')['Nomor_pesanan'].count()

STATUS
Cancelled       60
Disputed        14
In Process      41
On Hold         44
Resolved        47
Shipped       2616
Name: Nomor_pesanan, dtype: int64

Mengekpor file yang sudah kita edit ke csv

In [35]:
df_fil_clean.to_csv(path+'clean')